<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Cart</servlet-name>
    <servlet-class>tw.com.huang.controller.Cart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DBAdjustData</servlet-name>
    <servlet-class>tw.com.huang.controller.DBAdjustData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DBFilter</servlet-name>
    <servlet-class>tw.com.huang.controller.DBFilter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DBfirstCheck</servlet-name>
    <servlet-class>tw.com.huang.controller.DBfirstCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DBMaintain</servlet-name>
    <servlet-class>tw.com.huang.controller.DBMaintain</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DBUpdateWithFile</servlet-name>
    <servlet-class>tw.com.huang.controller.DBUpdateWithFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>tw.com.huang.controller.Search</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetOrder</servlet-name>
    <servlet-class>tw.com.huang.controller.SetOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>tw.com.huang.controller.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DBAdjustData</servlet-name>
    <url-pattern>/AdjustData.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DBFilter</servlet-name>
    <url-pattern>/DBFilter.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DBfirstCheck</servlet-name>
    <url-pattern>/firstCheck.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DBMaintain</servlet-name>
    <url-pattern>/DBMaintain.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DBUpdateWithFile</servlet-name>
    <url-pattern>/UpdateWithFile.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetOrder</servlet-name>
    <url-pattern>/SetOrder.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome.do</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>90</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>Welcome.do</welcome-file>
  </welcome-file-list>
</web-app>